body {
  min-height: 100vh;
  background: #0f1424;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  grid-template-areas: ". . . ." ". . . .";
  max-width: 1440px;
  min-width: 70rem;
}
.main__card {
  background-color: #1c1f4a;
  min-width: 6rem;
  height: 16.5rem;
  border-radius: 5%;
}
.main__card-tall {
  grid-row: 1/3;
  background-color: #1c1f4a;
  min-height: 35rem;
}
.main__card-tall__header {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #5847eb;
  min-height: 18rem;
  border-radius: 5%;
}
.main__card-tall__header span {
  color: #bdc1ff;
  font-family: "Rubik";
  font-weight: 300;
}
.main__card-tall__header h2 {
  color: #fff;
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: 300;
  margin-top: 0.5rem;
}
.main__card-tall__header img {
  border: 3px solid #fff;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 3rem;
}
.main__card-tall__footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 3rem;
}
.main__card-tall__footer span {
  color: #bdc1ff;
  font-family: "Rubik";
}
.main__card-tall__footer--selected {
  color: #fff;
}
.main .selected {
  color: #fff;
}
.main__card {
  color: #fff;
  height: 16.5rem;
  position: relative;
}
.main__card__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
.main__card__footer__type_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.main__card__footer__type_container__type {
  font-family: "Rubik";
  font-size: 1rem;
}
.main__card__footer__type_container__menu {
  font-family: "Rubik";
  font-size: 1.2rem;
}
.main__card__footer h2 {
  font-family: "Rubik";
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.main__card__footer span {
  color: #bdc1ff;
  font-size: 0.9rem;
  font-family: "Rubik";
}
.main__card-work {
  background-color: #ff8c66;
  padding-right: 1rem;
  position: relative;
}
.main__card-work img {
  position: absolute;
  right: 1rem;
}
.main__card-play {
  background-color: #56c2e6;
  padding-right: 1rem;
  position: relative;
}
.main__card-play img {
  position: absolute;
  right: 1rem;
}
.main__card-study {
  background-color: #ff5c7c;
  padding-right: 1rem;
  position: relative;
}
.main__card-study img {
  position: absolute;
  right: 1rem;
}
.main__card-exercise {
  background-color: #4acf81;
  padding-right: 1rem;
  position: relative;
}
.main__card-exercise img {
  position: absolute;
  right: 1rem;
}
.main__card-social {
  background-color: #7536d3;
  padding-right: 1rem;
  position: relative;
}
.main__card-social img {
  position: absolute;
  right: 1rem;
}
.main__card-selfcare {
  background-color: #f1c65b;
  padding-right: 1rem;
  position: relative;
}
.main__card-selfcare img {
  position: absolute;
  right: 1rem;
}

/*# sourceMappingURL=styles.css.map */
