@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    min-height: 60vh;
    width: 40vw;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30rem;
    padding: 2rem;
}

.column1 {
    background-color: #E28525;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.column2 {
    background-color: #016972;
}

.column3 {
    background-color: #00403F;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.column1 a {
    color: #E28525;
}

.column2 a {
    color: #016972;
}

.column3 a {
    color: #00403F;
}

.column img {
    margin-bottom: 1em;
}

.column h1 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

.column p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 15px;
}

.column a {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #F2F2F2;
    border-radius: 80px;
    padding: 0.75rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .column {
        margin: 0;
        padding: 0;
    }
}